body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1c1c1b;
    color: #696868;
    line-height: 1.6;
}

header {
    background: #424040;
    color: #888585;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

.producto {
    background: #fff;
    margin: 20px;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    text-align: center;
}

.producto img {
    max-width: 20%;
    height: auto;
}

.producto h2 {
    color: #333;
}

button {
    display: inline-block;
    background: #555;
    color: #fff;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #666;
}

footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: #fff;
}

@media screen and (max-width: 768px) {
    .producto {
        width: 90%;
        margin: 10px auto;
    }
}
